<div>
	<form id="searchConfigure" class="am-form-group am-form" style="width:220px">
		<input type="hidden" name="currentPage" value=0 />
		<input type="hidden" name="subId" />
	</form>	
	<div id=js-header class="list-header header"><h2 id=js-title></h2></div>
	<div id=js-table class="list-table"></div>
	<div style="overflow: hidden">
		<div id=js-pagination class="pagination pull-left"></div>
	</div>
	<div class="detail-container am-form-group none" id=js-detail>
	</div>
</div>

<script type="text/template" id="masterlist">
	<table class="am-table am-table-bordered am-table-striped am-table-hover">
			<thead><tr>
		<%_.each(E, function (t) {%>
				<th class="col-md-<%=t[0]%>"><%=t[1]%></th>
		<%})%>
		</tr></thead>
		<tbody>
		<%_.each(list, function(item){%>
			<tr  class="js-list-item">
				<td><img style="width:38px;height:38px" src="<%=item.avatar%>"/></td>
				<td><%=item.name%></td>
				<td><%=item.major%></td>
				<td><%=item.grade%></td>
				<td><%=item.title%></td>
				<td><%=item.wechat%></td>
				<td><%=item.works%></td>
				<td><%=item.score%></td>
				<td><%=item.orderedTimes%></td>
				<td><%=list.f.getMasterStatus(item.status)%></td>
				<td><%=list.dateFormat(new Date(item.qualifyTime), "yyyy-MM-dd")%></td>
			</tr>
		<%})%>
		
		<%if(list == ""){%>
			<tr><td colspan="100" class="am-text-middle">没有查找到任何数据</td></tr>
			<tr></tr>
		<%}%>
		</tbody>
	</table>
</script>