<div id="js-view">
</div>
<div id="js-detail" class="detail-container am-form-group none">
</div>

<script type="text/template" id="sysinfo">
	<div class="am-panel am-panel-default">
		<div class="am-panel-hd">
			<h3 class="am-panel-title">
				平台信息
				<a href="#" class="pull-right icon-container" id="js-close">
					<i class="icon-file-o"></i>
				</a>
			</h3>
		</div>
	
		<ul class="am-list am-list-static key-value">
			<li><span>分站个数</span><p><%=subNum%>个</p></li>
			<li><span>待处理申请</span><p><%=openNum%>个</p></li>
			<li><span>用户人数</span><p><%=userNum%>人</p></li>
			<li><span>行家人数</span><p><%=masterNum%>人</p></li>
			<li><span>预约个数</span><p><%=orderNum%>个</p></li>
			<li><span>上次登录信息</span><p></p></li>
		</ul>
		<div class="am-panel-footer key-value">
		</div>
	</div>
</script>
