<div class="data-pannel">
	<div id="data-pannel-container">
		<ul data-am-widget="gallery" class="am-gallery am-avg-sm-6
			  am-avg-md-6 am-avg-lg-6 am-gallery-default" data-am-gallery="{ pureview: true }">
			<li>
				<label class="am-gallery-item" style="text-align: center;">
					<div class="pannel-item-content">
						<span><i class="am-icon-users"></i></span>
						<div class="pannel-value" id="current-user">161</div>
					</div>
					<label style="color: #555;font-size: 1.4rem;font-weight: 500;">
						<input type="checkbox" name="data-item" checked="true" value="user" />&nbsp;用户人数
					</label>
				</label>
			</li>
			<li>
				<label class="am-gallery-item" style="text-align: center;">
					<div class="pannel-item-content">
						<span><i class="am-icon-graduation-cap"></i></span>
						<div class="pannel-value" id="current-master">161</div>
					</div>
					<label style="color: #555;font-size: 1.4rem;font-weight: 500;">
						<input type="checkbox" name="data-item" value="master" />&nbsp;行家人数
					</label>
				</label>
			</li>
			<li>
				<label class="am-gallery-item" style="text-align: center;">
					<div class="pannel-item-content">
						<span><i class="am-icon-code-fork"></i></span>
						<div class="pannel-value" id="current-skill">161</div>
					</div>
					<label style="color: #555;font-size: 1.4rem;font-weight: 500;">
						<input type="checkbox" name="data-item"  value="skill" />&nbsp;发布技能个数
					</label>
				</label>
			</li>
			<li>
				<label class="am-gallery-item" style="text-align: center;">
					<div class="pannel-item-content">
						<span><i class="am-icon-send"></i></span>
						<div class="pannel-value" id="current-order">161</div>
					</div>
					<label style="color: #555;font-size: 1.4rem;font-weight: 500;">
						<input type="checkbox" name="data-item"  value="order" />&nbsp;预约个数
					</label>
				</label>
			</li>
			<li>
				<label class="am-gallery-item" style="text-align: center;">
					<div class="pannel-item-content">
						<span><i class="am-icon-check"></i></span>
						<div class="pannel-value" id="current-finishOrder">161</div>
					</div>
					<label style="color: #555;font-size: 1.4rem;font-weight: 500;">
						<input type="checkbox" name="data-item" value="finishOrder" />&nbsp;已完成预约个数
					</label>
				</label>
			</li>
			<li>
				<label class="am-gallery-item" style="text-align: center;">
					<div class="pannel-item-content">
						<span><i class="am-icon-bookmark"></i></span>
						<div class="pannel-value"id="current-apply">161</div>
					</div>
					<label style="color: #555;font-size: 1.4rem;font-weight: 500;">
						<input type="checkbox" name="data-item" value="apply" />&nbsp;行家认证次数
					</label>
				</label>
			</li>
		</ul>
	</div>
</div>

<div class="data-list">
	<div class="date-pick-container" style="height:90px">
		<div class="tab-thimer" style="float: left" id="times">
            <div class="tab-day-con  ons" id="week">周</div>
            <div class="tab-day-con" id="month">月</div>
            <div class="tab-day-con" id="season">季</div>
        </div>
        <div class="tab-thimer" style="float: left;">
            <div class="right-button">
                <span>截止时间：</span>
                <input type="text" id="endTime" onclick="WdatePicker({isShowClear:false,dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'%y-%M-%d'})" readonly="">
                <button class='am-btn am-btn-secondary am-btn-xs' id="mSearch">搜索</button>
            </div>
        </div>
        <div class="clearfix"></div>
	</div>
	<div class="data-list-container" id="echartContainer" style="height: 370px; width: 98%;"></div>
</div>
